<!-- <app-date-range [dateConfig]="dateConfig"></app-date-range> -->
<div class="embedded-showcase">
    <h1>React embedded in Angular</h1>
    <button (click)="getDate()">Submit</button>
    <div class="my-component-wrapper">
      <app-react-date-range [counter]="counter" (componentClick)="handleOnClick($event)"></app-react-date-range>
    </div>
  </div>